<h2 align="center" style="margin-top: 10px;">Welcom to Chat with Me app</h2>

<div align="center">
    <i class="fa fa-power-off fa-4x circle-icon"></i>
    <h3 style="margin-top: 5px;">Login into Account</h3>
</div>

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <%= form_for(:session, html: {role: "form"}, url: login_path) do |f| %>
                        <%= f.label :username, "Username:", style: "font-weight: bold;" %>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
                        </div>
                        <%= f.label :password, "Password:", style: "font-weight: bold;" %>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            </div>
                            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
					    </div>
                        <div class="form-group">
                            <%= f.button "Login", class: "btnSubmit" %>
                        </div>
                        <!-- <div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div> -->
                    <% end %>
                </div>
                <div class="col-md-6 login-form-2">
                    <form>
                        <div class="logo">
                            <button class="btn btn-dark"><i class="fa fa-sign-in fa-3x"></i>&nbsp;&nbsp;<strong style="font-size: 35px;">SIGN IN</strong></button>
                        </div>    
                        <!-- <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">

                            <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>