<div align="center">
    <%= image_tag("iconheader.png", :alt => "icon header", class: "image") %>
    <h5>Say Something</h5>
</div> 

<div class="row">
<div class="col-md-8">

<div class="card bg-light chatbox" id="messages">
<div class="container my-4">

<!-- Section: Social newsfeed v.1 -->
<section class="my-0">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Newsfeed -->
      <div class="mdb-feed" id="message-container">
        <%= render @messages %> 
      </div>
      <!-- Newsfeed -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Social newsfeed v.1 -->

</div>

</div>
<div class="card card-footer">
  <%= form_for(@message, html: {role: "form"}, url: message_path, remote: true) do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :body, class: "form-control", placeholder: "Enter a message..." %>
      <div class="input-group-prepend">
          <%= f.button '<i class="fa fa-pencil-square fa-lg"></i>'.html_safe, class: "input-group-text" %>
      </div>
    </div>
  <% end %>  
</div>
</div>

<div class="card bg-light chatbox" style="padding-top: 30px;">
<div class="col-md">
<nav class="nav flex-column container col-xl">
  <a class="nav-link active btn btn-dark" href="#">Active</a>
  <a class="nav-link btn btn-dark" href="#">Link</a>
  <a class="nav-link btn btn-dark" href="#">Link</a>
  <a class="nav-link btn btn-dark" href="#">Disabled</a>
</nav>
</div>
</div>

</div>